


{% extends 'base.html' %}
{% load static %}

{% block content %}
{% for msg in messages%}
{{ msg }}
{% endfor %}
<script src="{% static 'js/scripts.js' %}"></script>

<form action="" method="post">
    {% csrf_token %}

    <label for=""> username:</label>
    <input type="text" name="username" id="username" placeholder="enter the usrename" required>
<!--     <label for=""> first name:</label>-->
<!--    <input type="text" name="first_name"  id="first_name" placeholder="enter the firstname" required>-->
<!--     <label for="">last name:</label>-->
<!--    <input type="text" name="last_name" id="last_name" placeholder="enter the last name" required>-->
<!--     <label for="">email:</label>-->
<!--    <input type="text" name="email"  id="email" placeholder="enter the mail id" required>-->
     <label for=""> password:</label>
    <input type="password" name="password"  id="password" placeholder="enter the password" required>
     <label for=""> confirm password:</label>
    <input type="password" name="password1"  id="password1" placeholder="confirm password" required>

    <input type="submit"  value="register" onclick="showAlert()">





</form>

{% endblock %}